Source: stl-splitter
Section: utils
Priority: optional
Maintainer: Neil Sawhney <Neil@neil-sawhney.com>
Build-Depends: debhelper (>= 9), blender
Standards-Version: 4.6.2
Homepage: https://github.com/Neil-Sawhney/stl-splitter

Package: stl-splitter
Architecture: all
Depends: ${misc:Depends}, blender
Description: STL file splitter
 This utility splits multi-body STL files into individual STL files.
